.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.bed-icon {
    color: #1976d2;
    color: #1976d2;
    font-size: 40px;
    width: 40px;
    height: 32px;
}
/* LEFT SIDE */
.left-panel {
    flex: 55%;
    background: url("../../../assets/images/login-bg.jpg") center/cover no-repeat;
    position: relative;

    .overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
    }

    @media (max-width: 900px) {
        display: none;
    }
}
.login-section {
    width: 60%;
    @media (max-width: 900px) {
        width: 100%;
    }
}

.left-panel .overlay {
    position: absolute;
   top: 20%;
    left: 10%;
    right: 10%;
    color: white;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.left-panel h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.left-panel p {
    margin-top: 10px;
    font-size: 16px;
}

/* RIGHT SIDE */
.right-panel {
    flex: 45%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 900px) {
        padding: 30px;
    }
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #222;
    margin-bottom: 35px;

    span {
        color: #1976d2;
    }
}

h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    margin-bottom: 35px;
    font-size: 15px;
}

/* FORM */
.full-width {
    width: 100%;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    a {
        color: #1976d2;
        text-decoration: none;
    }
}

.login-btn {
    width: 100%;
    margin-top: 25px;
    height: 45px;
    font-size: 16px;
}

footer {
    margin-top: 50px;
    font-size: 13px;
    color: #aaa;
}
