<div class="ft-container-spinner" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<div class="dialog-header">
    <div>
        <h3>Edit Customers</h3>
    </div>

    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="dialog-body">
    <div class="custom-mat-group">
        <!-- PERSONAL -->
        <div class="tab-body">

            <h4 class="section-title mar-btm-25">
                <mat-icon>person</mat-icon>
                Personal Details
            </h4>

            <form #personalForm="ngForm">

                <div class="two-cols">
                    <mat-form-field appearance="outline">
                        <mat-label>FirstName</mat-label>
                        <input matInput [(ngModel)]="model.clientObject.firstName" name="firstName" required />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>LastName</mat-label>
                        <input matInput [(ngModel)]="model.clientObject.lastName" name="lastName" />
                    </mat-form-field>
                </div>

                <div class="two-cols">
                    <mat-form-field appearance="outline" [ngClass]="{ 'custom-disabled': isEditMode }">
                        <mat-label>Phone Number</mat-label>
                        <input type="number" matInput [(ngModel)]="model.clientObject.mobileNumber" name="mobileNumber"
                            required />
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>



                    <mat-form-field appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input matInput [(ngModel)]="model.clientObject.email" name="email" type="email" />
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </div>

                <div class="two-cols">
                    <mat-form-field appearance="outline">
                        <mat-label>ID Number</mat-label>
                        <input matInput [(ngModel)]="model.clientObject.idNumber" name="idNumber" />
                        <mat-icon matSuffix>credit_card</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>GSTIN Number</mat-label>
                        <input matInput [(ngModel)]="model.clientObject.gstInNo" name="gstInNo" />
                    </mat-form-field>
                </div>

                <div class="two-cols">
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput [(ngModel)]="model.clientObject.city" name="city" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <mat-select [(ngModel)]="model.clientObject.state" name="state">
                            <mat-option value="" disabled>Select State</mat-option>
                            <mat-option *ngFor="let state of stateLists" [value]="state.name">
                                {{ state.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="full">
                    <mat-label>Address</mat-label>
                    <textarea matInput rows="3" [(ngModel)]="model.clientObject.address1" name="address1"></textarea>
                    <mat-icon matSuffix>location_on</mat-icon>
                </mat-form-field>

            </form>
        </div>
    </div>
</div>
<div class="dialog-footer">

    <span class="spacer"></span>

    <button mat-button (click)="close()">Cancel</button>

    <button mat-flat-button color="primary" [disabled]="!isFormValid()" (click)="save()">
        Save
    </button>
</div>